:host {
  display: block;
  width: max-content;
}

.item{
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  padding: 0.25rem .5rem;
  height: 2.5rem;
  &-description{
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  &-icon{
    width: 16px;
    height: 16px;
  }
  &-name{
    font-size: 1rem;
    vertical-align: middle;
  }
  &-btn-container{
    display: none;
    gap: .25rem;
    margin-left: 1rem;
  }
  &:hover{
    border: 2px solid #000;
    border-radius: .25rem;
    width: max-content;
    .item-btn-container{
      display: flex;
    }
  }
}
